.body {
    background-color: #000;
}

.carousel-container {
    max-width: 700px;
    margin: 0 auto;

}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
    overflow: hidden;
    border: none;

}

.image-container img {
    width: 100%;
    height: auto;
}

.image-card {
    flex-basis: 30%;
    margin-bottom: 100px;
}

.image-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #141414;
}

.card-body {
    color: #FDAF01;
    background-color: #141414;
}

.card {
    border: none !important;
}

.image-card-text {
    color: #FDAF01;
}

.gallery-title {
    text-align: center;
    color: #FDAF01;
}

.boton {
    height: 3rem;
    width: 9rem;
    border: none;
    border-radius: 10px;
    background-color: #FDAF01;
    cursor: pointer;
    margin: 25px 0;
}

.boton a {
    color: #fff;
    text-decoration: none;
}